@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap');

html {
  font-family: var(--font-default);
}

html[data-lang="ge"] {
  font-family: "Noto Sans Georgian", serif !important;
}

html[data-lang="fr"] {
  font-family: var(--font-fr);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light !important;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.georgian {
  font-family: "Noto Sans Georgian", serif;
  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
